<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LSA-IT Moralle Meter</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="static/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>

		<!-- Start your project here-->
		<h1>How is moralle around the office?</h1>
		<div class="col-md-5">
			<h2>Today's Ratings</h2>
			<canvas id="dailyChart" style="max-width: 500px;"></canvas>
			<h2>Weekly Ratings</h2>
			<canvas id="weeklyChart" style="max-width: 500px;"></canvas>
			<h2>All Ratings</h2>
			<canvas id="foreverChart" style="max-width: 500px;"></canvas>
		</div>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="static/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="static/js/mdb.min.js"></script>

    <script>
    //forever plot here
      var ctx = document.getElementById("foreverChart").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: {{ratingStrings|safe}},
            datasets: [
                {
                    data: {{foreverValues}},
                    backgroundColor: ["#46BFBD", "#FDB45C", "#F7464A"],
                    hoverBackgroundColor: ["#5AD3D1", "#FFC870", "#FF5A5E"]
                }
            ]
        },
        options: {
            responsive: true
        }
      });
    //past 7 days here
      var ctx = document.getElementById("weeklyChart").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: {{ratingStrings|safe}},
            datasets: [
                {
                    data: {{weeklyValues}},
                    backgroundColor: ["#46BFBD", "#FDB45C", "#F7464A"],
                    hoverBackgroundColor: ["#5AD3D1", "#FFC870", "#FF5A5E"]
                }
            ]
        },
        options: {
            responsive: true
        }
      });
      //past 24 hrs here
        var ctx = document.getElementById("dailyChart").getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: {{ratingStrings|safe}},
              datasets: [
                  {
                      data: {{dailyValues}},
                      backgroundColor: ["#46BFBD", "#FDB45C", "#F7464A"],
                      hoverBackgroundColor: ["#5AD3D1", "#FFC870", "#FF5A5E"]
                  }
              ]
          },
          options: {
              responsive: true
          }
        });
    </script>
</body>

</html>
